/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    li {
        float: none;
    }
    
    li a {
        display: block;
        text-align: left;
    }
}

body{
    margin: 0;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Animación al hacer clic */
.nav-active {
    animation: nav-click 0.5s;
}

@keyframes nav-click {
    0% { background-color: transparent; }
    50% { background-color: #190ef3; }
    100% { background-color: transparent; }
}